@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: white;
  margin: 0;
}

/* New Login Form */

.gradient-custom-2 {
  background: rgb(42, 42, 42);
  background: linear-gradient(
    90deg,
    rgba(42, 42, 42, 1) 0%,
    rgba(42, 42, 42, 1) 35%,
    rgba(42, 42, 42, 1) 100%
  );
}

@media (min-width: 768px) {
  .gradient-form {
    height: 100vh !important;
  }
}

@media (min-width: 769px) {
  .gradient-custom-2 {
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
  }
}

/* color */

.color {
  background-color: #2a2a2a;
}
