* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: white;
  margin: 0;
}

img [alt="www.000webhost.com"] {
  display: none;
}

/* New Login Form */

.gradient-custom-2 {
  background-color: black;
  opacity: 80%;
}

@media (min-width: 768px) {
  .gradient-form {
    height: 100vh !important;
  }
}

@media (min-width: 769px) {
  .gradient-custom-2 {
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
  }
}

/* color */

.color {
  background-color: #2a2a2a;
}

/* Font */

.font a {
  font-weight: bold;
}

/* Password Checker */

#register .short {
  font-weight: bold;
  color: #ff0000;
  font-size: smaller;
}
#register .weak {
  font-weight: bold;
  color: orange;
  font-size: smaller;
}
#register .good {
  font-weight: bold;
  color: #2d98f3;
  font-size: smaller;
}
#register .strong {
  font-weight: bold;
  color: limegreen;
  font-size: smaller;
}
#result2 {
  font-weight: bold;
  font-size: smaller;
}

/* Gradient Button */

.btn-grad {
  background-image: linear-gradient(
    to right,
    #215f00 0%,
    #e4e4d9 51%,
    #215f00 100%
  );
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 50px;
  display: block;
  border: none;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: white;
  text-decoration: none;
}

.btn-grad:focus {
  outline: none;
}

/* Active */

button.selected {
  color: white;
  background-color: black;
  border-color: black;
}

/* message */

.error {
  color: red;
}

.green {
  color: green;
}

/* table */

th {
  word-wrap: break-word;
  min-width: 168px;
  max-width: 168px;
}

/* Chart */

#chart-container {
  width: 100%;
  height: auto;
}
